.card{
    align-items: center;
    background-image:linear-gradient(to bottom right, #0AA804, #F3FF1E);
}
.card-title{
    color:goldenrod;
    font-size: 50px;
    font-weight: bold;
    -webkit-text-stroke: 1px green;
}
.btn-start{
    text-align: center;
    border-radius: 4px;
    color:#FFFFFF;
    background-color: green;
    border: none;
    outline: none;
}
.btn-guide{
    text-align: center;
    border-radius: 4px;
    color: green;
    background-color: #FFFFFF;
    border: none;
    outline: none;
}
p {
    color: green;
}