  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
  }
  
  a{
    color: green;
  }

  nav {
    background-image: linear-gradient(to top right, #0AA804, #F3FF1E);
    /* background-image: linear-gradient(to top right, #83FF1E, #F3FF1E); */
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: green;
    font-size: 25px;
  }
  .navbar-dark .navbar-nav .nav-link.active {
    font-weight: bold;
    color: green;
  }

  table,
  th,
  td {
    border: 2px solid black;

  }